@{
    ViewBag.Title = "About";
}

<hgroup class="title">
    <h1>A Professional Law Corporation</h1>
    <h2>Joeseph P. Hanson</h2>
</hgroup>

<article>
    <p>
        Use this area to provide additional information.
    </p>

    <p>
        Use this area to provide additional information.
    </p>

    <p>
        Use this area to provide additional information.
    </p>
</article>
<a href="~/Views/Home/About.cshtml">~/Views/Home/About.cshtml</a>
<aside>
    <h3>Aside Title</h3>
    <p>
        Use this area to provide additional information.
    </p>
    <ul>
        <li>@Html.ActionLink("Home", "Index", "Home")</li>
        <li>@Html.ActionLink("About", "About", "Home")</li>
        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
    </ul>
</aside>