@{
    ViewBag.Title = "Home Page";
}

        <img src= "@Url.Content("../Images/JoeHanson.jpg")" alt="IMAGES" />
<h5>Joeseph P. Hanson</h5>
    <div style="float:right;">
       <p> Versatile attorney with an accomplished record of protecting the interests of business clients.
    Experience ranges from complex business litigation to a broad scope of business transactions and compliance issues.
    Specialties:Contracts: Formation, Interpretation, Review/Risk Analysis, Employment/Consutling Agreements,
    Promissory Notes / Private Lending Mergers & Acquisitions: Asset Purchases, Shareholder Buyout, 
    Confidentiality Agreements, Non-Compete Agreements Litigation / Arbitration / Mediation
    Compliance Issues: TILA, FCRA, FDCPA, HIPAA, 50 State Compliance of RISA(s)
    Entity Selection & Formation
    Commercial Real Property: Purchase and Sale, Lease Formation & Enforcement, Easements</p>
    </div>
