@{
    ViewBag.Title = "Home Page";
}

        <img src= "@Url.Content("../Images/JoeHanson.jpg")" alt="IMAGES" width="350" style="float: left;" />



        <div style="display:inline-block ; float: right; margin: 0 50px; width: 450px;">
        <p> Versatile attorney with an accomplished record of protecting the interests of business clients.<br />
            Experience ranges from complex business litigation to a broad scope of business transactions and compliance issues.</p>
        <h5>Specialties:</h5>
        <ul style="list-style:none;">
             <li>Contracts:
                <ul> 
                    <li>Formation, </li>
                    <li>Interpretation,</li> 
                    <li>Review/Risk Analysis,</li>
                    <li>Employment/Consutling Agreements</li>
                </ul>
            </li>
            <li>Promissory Notes / Private Lending Mergers & Acquisitions: 
                <ul>
                    <li>Asset Purchases,</li>
                    <li>Shareholder Buyout,</li> 
                    <li>Confidentiality Agreements, </li>
                    <li>Non-Compete Agreements: Litigation / Arbitration / Mediation</li>
                </ul>
            </li>
            <li>Compliance Issues: 
                <ul>
                    <li>TILA, </li>
                    <li>FCRA, </li>
                    <li>FDCPA, </li>
                    <li>HIPAA, </li>
                    <li>50 State Compliance of RISA(s)</li>
                </ul>
            </li>
            <li>Entity Selection & Formation</li>
            <li>Commercial Real Property: 
                <ul>
                    <li>Purchase and Sale, </li>
                    <li>Lease Formation & Enforcement, </li>
                    <li>Easements</li>
                </ul>
            </li>
      </ul>
    </div>
    <h5 style="float: left;">Joeseph P. Hanson</h5>
